<div class="cookies">
    <div class="cookies__content">
        <p>
            Пользуясь нашим сайтом, вы соглашаетесь с тем, что мы используем cookies
        </p>
        <a href="#" class="cookies__link">Понятно</a>
    </div>
</div>