<header data-lp class="header">
    <div class="container">
        <div class="header__content">
            <a href="#" class="header__logo">
                <img src="img/logo.svg" alt="">
            </a>
            <div class="header__center">
                <div class="lang-header">
                    <div class="lang-header__button">
                        <span>Ru</span>
                        <svg aria-hidden="true" width="11" height="9">
                            <use xlink:href="img/sprite.svg#arrow1"></use>
                        </svg>
                    </div>
                    <div class="lang-header__dropdowm">
                        <ul>
                            <li>En</li>
                        </ul>
                    </div>
                </div>
                <div class="main-menu">
                    <div class="main-menu__button">
                        <span>Меню</span>
                        <div class="main-menu__icon"></div>
                    </div>
                    <div class="main-menu__body">
                        <div class="main-menu__content">
                            <div class="main-menu__top">
                                <div class="main-menu__left">
                                    <div class="menu-navigation">
                                        <div class="menu-navigation__title">Навигация:</div>
                                        <ul>
                                            <li>
                                                <a href="#">Каталог</a>
                                            </li>
                                            <li>
                                                <a href="#">Портфолио</a>
                                            </li>
                                            <li>
                                                <a href="#">О нас</a>
                                            </li>
                                            <li>
                                                <a href="#">Гарантия</a>
                                            </li>
                                            <li>
                                                <a href="#">Новости</a>
                                            </li>
                                            <li>
                                                <a href="#">Обучение</a>
                                            </li>
                                            <li>
                                                <a href="#">Карьера</a>
                                            </li>
                                            <li>
                                                <a href="#">Контакты</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="main-menu__center">
                                    <div class="main-menu__contacts">
                                        <div class="contacts">
                                            <div class="contacts__title">Телефон:</div>
                                            <a href="tel:88005057045" class="contacts__subtitle">
                                                8 (800) 505-70-45
                                            </a>
                                        </div>
                                        <div class="socials">
                                            <div class="socials__body">
                                                <a href="#">
                                                    <svg aria-hidden="true" width="21" height="18">
                                                        <use xlink:href="img/sprite.svg#telegram"></use>
                                                    </svg>
                                                </a>
                                                <a href="#">
                                                    <svg aria-hidden="true" width="20" height="20">
                                                        <use xlink:href="img/sprite.svg#whatsapp"></use>
                                                    </svg>
                                                </a>
                                                <a href="#">
                                                    <svg aria-hidden="true" width="20" height="20">
                                                        <use xlink:href="img/sprite.svg#instagram"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main-menu__contacts">
                                        <div class="contacts">
                                            <div class="contacts__title">Адрес:</div>
                                            <div class="contacts__subtitle">
                                                г. Москва, пр-т завода «Серп и молот», д. 6, стр. 1
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-menu__right">
                                    <a href="#" data-popup="#call" class="call">Запросить звонок</a>
                                    <a href="mailto:sale@anzhee.ru" class="email">sale@anzhee.ru</a>
                                </div>
                            </div>
                            <div class="main-menu__bottom">
                                <div class="main-menu__copy">
                                    Все права защищены
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <ul>
                        <li class="menu-catalog">
                            <a href="#" class="menu-catalog__button">
                                <span>Каталог</span>
                                <svg aria-hidden="true" width="11" height="9">
                                    <use xlink:href="img/sprite.svg#arrow1"></use>
                                </svg>
                            </a>
                            <div class="menu-catalog__body">
                                <div class="menu-catalog__content">
                                    <div class="menu-catalog__top">
                                        <div class="menu-catalog__navigation">
                                            <a href="#" data-tabs="audio-equipment"
                                                class="menu-catalog__title _tab-active">Звуковое оборудование</a>
                                            <a href="#" data-tabs="lighting-equipment"
                                                class="menu-catalog__title">Световое оборудование</a>
                                            <a href="#" data-tabs="generator-control"
                                                class="menu-catalog__title">Управление генератором</a>
                                            <a href="#" data-tabs="brand-line" class="menu-catalog__title">Линейка
                                                брендов</a>
                                            <a href="#" data-tabs="all" class="menu-catalog__title">Все серии</a>
                                        </div>
                                    </div>
                                    <div class="menu-catalog__center center-menu-catalog">
                                        <div data-tabs="audio-equipment"
                                            class="center-menu-catalog__content _tab-active">
                                            <div class="center-menu-catalog__navigation">
                                                <div data-simplebar class="center-menu-catalog__simplebar">
                                                    <ul>
                                                        <li>
                                                            <a href="#" data-products="1"
                                                                class="center-menu-catalog__link _active">
                                                                <span>Вращающиеся головы</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="2"
                                                                class="center-menu-catalog__link">
                                                                <span>Театральное освещение и студийное
                                                                    оборудование</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="3"
                                                                class="center-menu-catalog__link">
                                                                <span>LED прожекторы</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="4"
                                                                class="center-menu-catalog__link">
                                                                <span>Прожекторы сопровождения света</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="5"
                                                                class="center-menu-catalog__link">
                                                                <span>Световые эффекты</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="6"
                                                                class="center-menu-catalog__link">
                                                                <span>Шторки и стробоскопы</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="7"
                                                                class="center-menu-catalog__link">
                                                                <span>Генераторы спецэффектов</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="8"
                                                                class="center-menu-catalog__link">
                                                                <span>Dj power</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="9"
                                                                class="center-menu-catalog__link">
                                                                <span>Управление осветительными приборами DMX</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="10"
                                                                class="center-menu-catalog__link">
                                                                <span>Dj power</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="11"
                                                                class="center-menu-catalog__link">
                                                                <span>Dj power</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="12"
                                                                class="center-menu-catalog__link">
                                                                <span>Dj power</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="13"
                                                                class="center-menu-catalog__link">
                                                                <span>Dj power</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="14"
                                                                class="center-menu-catalog__link">
                                                                <span>Dj power</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="15"
                                                                class="center-menu-catalog__link">
                                                                <span>Dj power</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="center-menu-catalog__body">
                                                <div data-simplebar class="center-menu-catalog__simplebar">
                                                    <ul data-products="1"
                                                        class="center-menu-catalog__product-list _active">
                                                        <li>
                                                            <a data-product="1" href="#"
                                                                class="center-menu-catalog__product-link _active">Anzhee
                                                                HR250-BEAM</a>
                                                        </li>
                                                        <li>
                                                            <a data-product="2" href="#"
                                                                class="center-menu-catalog__product-link">Anzhee PRO
                                                                PHOENIX BSW 1000 FS</a>
                                                        </li>
                                                        <li>
                                                            <a data-product="3" href="#"
                                                                class="center-menu-catalog__product-link">Anzhee PRO
                                                                PHOENIX SPOT 585 CMY</a>
                                                        </li>
                                                        <li>
                                                            <a data-product="4" href="#"
                                                                class="center-menu-catalog__product-link">Anzhee PRO
                                                                PHOENIX SPOT 585 FS</a>
                                                        </li>
                                                        <li>
                                                            <a data-product="5" href="#"
                                                                class="center-menu-catalog__product-link">Anzhee PRO
                                                                PHOENIX BSW 350 2CW</a>
                                                        </li>
                                                        <li>
                                                            <a data-product="6" href="#"
                                                                class="center-menu-catalog__product-link">Anzhee PRO
                                                                H19x15Z B-EYE (K10)</a>
                                                        </li>
                                                        <li>
                                                            <a data-product="7" href="#"
                                                                class="center-menu-catalog__product-link">Anzhee PRO
                                                                PHOENIX BSW 250</a>
                                                        </li>
                                                        <li>
                                                            <a data-product="8" href="#"
                                                                class="center-menu-catalog__product-link">Anzhee AIR
                                                                SPOT
                                                                150</a>
                                                        </li>
                                                        <li>
                                                            <a data-product="9" href="#"
                                                                class="center-menu-catalog__product-link">Anzhee
                                                                H180-SPOT</a>
                                                        </li>
                                                    </ul>
                                                    <ul data-products="2" class="center-menu-catalog__product-list">
                                                        <li>
                                                            <a data-product="10" href="#"
                                                                class="center-menu-catalog__product-link _active">Anzhee
                                                                HR250-BEAM</a>
                                                        </li>
                                                        <li>
                                                            <a data-product="11" href="#"
                                                                class="center-menu-catalog__product-link _active">Anzhee
                                                                HR250-BEAM2</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="center-menu-catalog__products">
                                                <div data-product="1" class="center-menu-catalog__product _active">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee HR250-BEAM</div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-product="2" class="center-menu-catalog__product">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee PRO PHOENIX BSW
                                                            1000 FS</div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-product="3" class="center-menu-catalog__product">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee PRO PHOENIX SPOT
                                                            585 CMY</div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-product="4" class="center-menu-catalog__product">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee PRO PHOENIX SPOT
                                                            585 FS</div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-product="5" class="center-menu-catalog__product">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee PRO PHOENIX BSW
                                                            350 2CW</div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-product="6" class="center-menu-catalog__product">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee PRO H19x15Z B-EYE
                                                            (K10)</div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-product="7" class="center-menu-catalog__product">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee PRO PHOENIX BSW
                                                            250</div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-product="8" class="center-menu-catalog__product">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee AIR SPOT 150
                                                        </div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-product="9" class="center-menu-catalog__product">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee H180-SPOT</div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-product="10" class="center-menu-catalog__product">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee HR250-BEAM</div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-product="11" class="center-menu-catalog__product">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee HR250-BEAM2</div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-tabs="lighting-equipment" class="center-menu-catalog__content">
                                            <div class="center-menu-catalog__navigation">
                                                <div data-simplebar class="center-menu-catalog__simplebar">
                                                    <ul>
                                                        <li>
                                                            <a href="#" data-products="1"
                                                                class="center-menu-catalog__link _active">
                                                                <span>Вращающиеся головы</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="2"
                                                                class="center-menu-catalog__link">
                                                                <span>Театральное освещение и студийное
                                                                    оборудование</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="3"
                                                                class="center-menu-catalog__link">
                                                                <span>LED прожекторы</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="4"
                                                                class="center-menu-catalog__link">
                                                                <span>Прожекторы сопровождения света</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="5"
                                                                class="center-menu-catalog__link">
                                                                <span>Световые эффекты</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="6"
                                                                class="center-menu-catalog__link">
                                                                <span>Шторки и стробоскопы</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="7"
                                                                class="center-menu-catalog__link">
                                                                <span>Генераторы спецэффектов</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="8"
                                                                class="center-menu-catalog__link">
                                                                <span>Dj power</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="9"
                                                                class="center-menu-catalog__link">
                                                                <span>Управление осветительными приборами DMX</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="10"
                                                                class="center-menu-catalog__link">
                                                                <span>Dj power</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="11"
                                                                class="center-menu-catalog__link">
                                                                <span>Dj power</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="12"
                                                                class="center-menu-catalog__link">
                                                                <span>Dj power</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="13"
                                                                class="center-menu-catalog__link">
                                                                <span>Dj power</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="14"
                                                                class="center-menu-catalog__link">
                                                                <span>Dj power</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-products="15"
                                                                class="center-menu-catalog__link">
                                                                <span>Dj power</span>
                                                                <img loading="lazy" src="img/arrow1.svg" alt="">
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="center-menu-catalog__body">
                                                <ul data-products="1" class="center-menu-catalog__product-list _active">
                                                    <li>
                                                        <a data-product="1" href="#"
                                                            class="center-menu-catalog__product-link _active">Anzhee
                                                            HR250-BEAM</a>
                                                    </li>
                                                    <li>
                                                        <a data-product="2" href="#"
                                                            class="center-menu-catalog__product-link">Anzhee PRO
                                                            PHOENIX BSW 1000 FS</a>
                                                    </li>
                                                    <li>
                                                        <a data-product="3" href="#"
                                                            class="center-menu-catalog__product-link">Anzhee PRO
                                                            PHOENIX SPOT 585 CMY</a>
                                                    </li>
                                                    <li>
                                                        <a data-product="4" href="#"
                                                            class="center-menu-catalog__product-link">Anzhee PRO
                                                            PHOENIX SPOT 585 FS</a>
                                                    </li>
                                                    <li>
                                                        <a data-product="5" href="#"
                                                            class="center-menu-catalog__product-link">Anzhee PRO
                                                            PHOENIX BSW 350 2CW</a>
                                                    </li>
                                                    <li>
                                                        <a data-product="6" href="#"
                                                            class="center-menu-catalog__product-link">Anzhee PRO
                                                            H19x15Z B-EYE (K10)</a>
                                                    </li>
                                                    <li>
                                                        <a data-product="7" href="#"
                                                            class="center-menu-catalog__product-link">Anzhee PRO
                                                            PHOENIX BSW 250</a>
                                                    </li>
                                                    <li>
                                                        <a data-product="8" href="#"
                                                            class="center-menu-catalog__product-link">Anzhee AIR SPOT
                                                            150</a>
                                                    </li>
                                                    <li>
                                                        <a data-product="9" href="#"
                                                            class="center-menu-catalog__product-link">Anzhee
                                                            H180-SPOT</a>
                                                    </li>
                                                </ul>
                                                <ul data-products="2" class="center-menu-catalog__product-list">
                                                    <li>
                                                        <a data-product="10" href="#"
                                                            class="center-menu-catalog__product-link _active">Anzhee
                                                            HR250-BEAM</a>
                                                    </li>
                                                    <li>
                                                        <a data-product="11" href="#"
                                                            class="center-menu-catalog__product-link _active">Anzhee
                                                            HR250-BEAM2</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="center-menu-catalog__products">
                                                <div data-product="1" class="center-menu-catalog__product _active">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee HR250-BEAM</div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-product="2" class="center-menu-catalog__product">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee PRO PHOENIX BSW
                                                            1000 FS</div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-product="3" class="center-menu-catalog__product">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee PRO PHOENIX SPOT
                                                            585 CMY</div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-product="4" class="center-menu-catalog__product">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee PRO PHOENIX SPOT
                                                            585 FS</div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-product="5" class="center-menu-catalog__product">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee PRO PHOENIX BSW
                                                            350 2CW</div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-product="6" class="center-menu-catalog__product">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee PRO H19x15Z B-EYE
                                                            (K10)</div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-product="7" class="center-menu-catalog__product">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee PRO PHOENIX BSW
                                                            250</div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-product="8" class="center-menu-catalog__product">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee AIR SPOT 150
                                                        </div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-product="9" class="center-menu-catalog__product">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee H180-SPOT</div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-product="10" class="center-menu-catalog__product">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee HR250-BEAM</div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-product="11" class="center-menu-catalog__product">
                                                    <div class="center-menu-catalog__image">
                                                        <img loading="lazy" src="img/products/image1.webp" alt="">
                                                    </div>
                                                    <div class="center-menu-catalog__descr">
                                                        <div class="center-menu-catalog__title">Anzhee HR250-BEAM2</div>
                                                        <div class="center-menu-catalog__subtitle">
                                                            Луч / 250 Вт / 0-3,8° / 13 цветов / 18 гобо-шаблонов (17 +
                                                            открытый)
                                                            / 2 призмы / фрост
                                                        </div>
                                                        <div class="center-menu-catalog__price">
                                                            <span>Цена:</span>
                                                            116 400 ₽
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu-catalog__bottom">
                                        <div class="menu-catalog__copy">
                                            Все права защищены
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="menu__link">Портфолио</a>
                        </li>
                        <li class="none">
                            <a href="#" class="menu__link">О нас</a>
                        </li>
                        <li class="none">
                            <a href="#" class="menu__link">Гарантии</a>
                        </li>
                        <li>
                            <a href="#" class="menu__link">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header__right">
                <div data-da=".main-menu__content, 992, first" class="search-header">
                    <div class="search-header__buttons">
                        <div class="search-header__button">Поиск</div>
                        <div class="search-header__close">Закрыть</div>
                    </div>
                    <div class="search-header__input">
                        <input autocomplete="off" type="text" name="form[]" placeholder="Поиск">
                        <button type="button">
                            <img loading="lazy" src="img/search.svg" alt="">
                        </button>
                    </div>
                </div>
                <div class="personal-cabinet">
                    <div class="personal-cabinet__button circle-white">
                        <img src="img/user.svg" alt="">
                    </div>
                </div>
                <div class="card-header">
                    <div class="card-header__button circle-white">
                        <img src="img/cart.svg" alt="">
                        <div class="card-header__number">0</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>