<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Главная страница</title>
	{% include 'blocks/head.njk' %}
</head>

<body>

	<div class="main-wrapper-outer">
		{% include 'blocks/header.njk' %}
		<main class="main">

			<div class="block-intro">
				<div class="block-intro__content">
					<div class="block-intro__slider swiper">
						<div class="block-intro__wrapper swiper-wrapper">
							<div class="block-intro__slide swiper-slide">
								<img src="img/image1.webp" alt="" class="block-intro__pic">
								<div class="container">
									<div class="block-intro__titles">
										<div data-watch class="title1">
											<span data-watch data-transition-delay="0.1s" class="title-line">Подберем
												комплект</span>
											<span data-watch data-transition-delay="0.3s" class="title-line">светового
												оборудования для</span>
											<span data-watch data-transition-delay="0.5s" class="title-line">ваших
												задач в течение</span>
											<span data-watch data-transition-delay="0.7s" class="title-line">24
												часов</span>
										</div>
										<p>
											Продаем световое оборудование для концертных, театральных и танцевальных
											площадок с
											доставкой по РФ
										</p>
									</div>
								</div>
							</div>
							<div class="block-intro__slide swiper-slide">
								<img src="img/image1.webp" alt="" class="block-intro__pic">
								<div class="container">
									<div class="block-intro__titles">
										<div data-watch class="title1">
											<span data-watch data-transition-delay="0.1s" class="title-line">Освещение
												под ключ:</span>
											<span data-watch data-transition-delay="0.3s" class="title-line">быстрый
												подбор и поставка</span>
											<span data-watch data-transition-delay="0.5s" class="title-line">для вашего
												проекта</span>
										</div>
										<p>
											Мы подбираем и поставляем световое оборудование под ключ.
											Получит оптимальное решение для вашего проекта с быстрой доставкой по
											России.
										</p>
									</div>
								</div>
							</div>
							<div class="block-intro__slide swiper-slide">
								<img src="img/image1.webp" alt="" class="block-intro__pic">
								<div class="container">
									<div class="block-intro__titles">
										<div data-watch class="title1">
											<span data-watch data-transition-delay="0.1s" class="title-line">Освещение
												под ключ:</span>
											<span data-watch data-transition-delay="0.3s" class="title-line">быстрый
												подбор и поставка</span>
											<span data-watch data-transition-delay="0.5s" class="title-line">для вашего
												проекта</span>
										</div>
										<p>
											Мы подбираем и поставляем световое оборудование под ключ.
											Получит оптимальное решение для вашего проекта с быстрой доставкой по
											России.
										</p>
									</div>
								</div>
							</div>
							<div class="block-intro__slide swiper-slide">
								<img src="img/image1.webp" alt="" class="block-intro__pic">
								<div class="container">
									<div class="block-intro__titles">
										<div data-watch class="title1">
											<span data-watch data-transition-delay="0.1s" class="title-line">Освещение
												под ключ:</span>
											<span data-watch data-transition-delay="0.3s" class="title-line">быстрый
												подбор и поставка</span>
											<span data-watch data-transition-delay="0.5s" class="title-line">для вашего
												проекта</span>
										</div>
										<p>
											Мы подбираем и поставляем световое оборудование под ключ.
											Получит оптимальное решение для вашего проекта с быстрой доставкой по
											России.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="block-intro__navigations">
						<div class="container">
							<div class="block-intro__navigation">
								<div class="paginations">
									<div class="block-intro__pagination-bullets pagination-bullets"></div>
									<div class="block-intro__pagination-fraction pagination-fraction">
										<span class="swiper-pagination-current">1</span>
										/
										<span class="swiper-pagination-total"></span>
									</div>
								</div>
								<div class="arrows">
									<div class="block-intro__arrow-prev arrow-prev">
										<svg aria-hidden="true" width="13" height="13">
											<use xlink:href="img/sprite.svg#arrow2"></use>
										</svg>
										<svg aria-hidden="true" width="13" height="13">
											<use xlink:href="img/sprite.svg#arrow2"></use>
										</svg>
									</div>
									<div class="block-intro__arrow-next arrow-next">
										<svg aria-hidden="true" width="13" height="13">
											<use xlink:href="img/sprite.svg#arrow2"></use>
										</svg>
										<svg aria-hidden="true" width="13" height="13">
											<use xlink:href="img/sprite.svg#arrow2"></use>
										</svg>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a href="#" class="btn">
					<span>Заказать</span>
					<span>Заказать</span>
				</a>
			</div>


			{% include 'blocks/preloader.njk' %}
			{% include 'blocks/cookies.njk' %}

		</main>
		{% include 'blocks/footer.njk' %}
	</div>
	{% include 'blocks/popups.njk' %}
	{% include 'blocks/scripts.njk' %}
</body>

</html>