<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Главная страница</title>
	{% include 'blocks/head.njk' %}
</head>

<body>

	<div class="main-wrapper-outer">
		{% include 'blocks/header.njk' %}
		<main class="main">



			{% include 'blocks/preloader.njk' %}
			{% include 'blocks/cookies.njk' %}

		</main>
		{% include 'blocks/footer.njk' %}
	</div>
	{% include 'blocks/scripts.njk' %}
</body>

</html>