:root {
  --container-width: 1880px;
  --container-padding: 60px;
  --chernyy-tekst: #363636;
  --belyy-tekst: #fff;
  --belyy-400-tekst: rgba(255, 255, 255, 0.4);
  --chernyy-elementy: #363636;
  --belyy-elementy: #fff;
  --seryy-elementy: #f1f1f1;
  --zheltyy-elementy: #fae801;
  --belyy-350-elementy: rgba(255, 255, 255, 0.35);
  --belyy-10-elementy: rgba(255, 255, 255, 0.01);
  --belyy-100-elementy: rgba(255, 255, 255, 0.1);
  --zheltyy-400-elementy: rgba(250, 232, 1, 0.4);
  --siniy-elementy: #018ffd;
  --rozovyy-elementy: #fa0182;
  --temno-rozovyy-elementy: #580d34;
  --begraund-kartochka-elementy: #2b2b2b;
  --chernyy-begraund: #131313;

  --font-family: "InterTight", sans-serif;
}
